ul, ol{list-style:none;}
a {text-decoration: none;}
.text-center {text-align: center; padding: 10px 0;}
h1, h2 {margin-bottom: 20px; text-align: center;}
.wrap {width: 952px; margin: 0 auto;}
.clear {clear: both;}
#adverts {width: 100%; overflow: hidden; text-align: center; margin: 0 0 15px 0; padding: 0; clear: both;}
#adverts li {display: inline; margin: 0 10px; padding: 0; background: none;}
#adverts li img {border-top: 1px solid #efefef; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #efefef;}

#pinterest-feed-1, #pinterest-feed-2 {
	margin: 0 auto 20px auto;
}

/* Tutorial CSS */
ul.stream {
	margin-left:10px;
}
ul.stream li {
	display: none;
	width: 195px;
	margin: 0 6px 12px 6px;
	background: #fff;
	font: normal 13px/18px Arial, sans-serif;
	color: #333;
	position: relative;
	padding: 10px 15px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
ul.stream li img {
	padding: 1px;
	background: #fff;
	border: 1px solid #ececec;
	margin: 3px 0 5px 0;
}
ul.stream li .date {
	display: block;
	clear: both;
	margin: 10px 0 0 0;
	line-height: 12px;
	color: #666;
	font-size: 11px;
	font-style: italic;
}
ul.stream li .section-share {
	bottom: 8px;
    right: 15px;
    position: absolute;
	z-index: 2;
}
ul.stream li .section-share a {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px 0 0;
	background: url(/static/img/share.png) no-repeat 0 0;
}
ul.stream li .section-share a.pin-share-twitter {
	background-position: 0 -16px;
}
ul.stream li .section-share a.pin-share-facebook:hover {
	background-position: -16px 0;
}
ul.stream li .section-share a.pin-share-twitter:hover {
	background-position: -16px -16px;
}